#header{

	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	background-color:#4aaaa5;
  	width: 245px;
  	height: 90px;
  	padding: 10px;
  	text-align: center;
  	padding-bottom: 0px;
  	margin-bottom: 0px; 	

}

h1,h2{

	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
}

.bio-pic{

	max-height: 250px;
	max-width: 250px;
	margin-right: 10px;

}

.main-section{

	max-width: 70%;
	float: left;
	

}

p{
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.side-bar{

	max-width: 30%;
	margin: 0 auto;
	float: left;


}

.smallpic{

	max-height: 40px;
	max-width: 40px;
}